<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/bower_components/leaflet/dist/leaflet.css">
		<link rel="stylesheet" type="text/css" href="/bower_components/Leaflet.label/dist/leaflet.label.css">
		<link rel="stylesheet" type="text/css" href="/structure.css">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body>
		<div id="map">
			<div class="shadow"></div>
			<div class="caption">Карта Неба</div>
		</div>
		<div class="corners">
			<div class="top-left"></div>
			<div class="top-right"></div>
			<div class="bottom-left"></div>
			<div class="bottom-right"></div>
		</div>

		<script id="label-popup" type="text/template">
			<%= text %>
			<% if (typeof(link) !== 'undefined') { %>
				<br><a href="http://nuclearwings.ru/?page=<%= link %>" target="_blank">Узнать больше...</a>
			<% } %>
		</script>

		<script id="quest-popup" type="text/template">
			<%= tip %>
			<% if (typeof(link) !== 'undefined') { %>
				<br><a href="http://nuclearwings.ru/?page=<%= link %>" target="_blank">Узнать больше...</a>
			<% } %>
		</script>

		<script id="flager-popup" type="text/template">
			<h2>Флягеры</h2>
			Лёгкое: <%= easy %><br>
			Сложное: <%= hard %>
			<% if (typeof(link) !== 'undefined') { %>
				<br><a href="http://nuclearwings.ru/?page=<%= link %>" target="_blank">Список флягеров региона</a>
			<% } %>
		</script>

		<script src="/bower_components/requirejs/require.js" data-main="/js/app"></script>
	</body>
</html>