* {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}

html,
body,
#map {
	height: 100%;
	width: 100%;
}

body {
	overflow: hidden;
}

#map {
	background: #d6bb74;
	box-sizing: border-box;
	border-style: solid;
	border-width: 11px;
	-moz-border-image: url(img/borders.png) 11 round repeat;
	-webkit-border-image: url(img/borders.png) 11 round repeat;
	-o-border-image: url(img/borders.png) 11 round repeat;
	border-image: url(img/borders.png) 11 fill round repeat;
	position: relative;
	transition: .35s;
}
#map .leaflet-overlay-pane > svg {
	z-index: 1;
}

.shadow {
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: 10000;
}
#map > .shadow {
	-moz-box-shadow: inset 0 0 40px -4px black;
	-webkit-box-shadow: inset 0 0 40px -4px black;
	box-shadow: inset 0 0 40px -4px black;
}
#navigator > .shadow {
	-moz-box-shadow: inset 0 0 12px -4px black;
	-webkit-box-shadow: inset 0 0 12px -4px black;
	box-shadow: inset 0 0 12px -4px black;
}

.corners div {
	background: url(img/corners.png) no-repeat;
	content: '';
	height: 33px;
	position: fixed;
	width: 31px;
	z-index: 10001;
}
.corners .top-left {
	background-position: 0 0;
	left: 0;
	top: 0;
}
.corners .top-right {
	background-position: -31px 0;
	right: 0;
	top: 0;
}
.corners .bottom-left {
	background-position: 0 -33px;
	bottom: 0;
	left: 0;
}
.corners .bottom-right {
	background-position: -31px -33px;
	bottom: 0;
	right: 0;
}

#map .caption {
	background: url(img/caption.png) no-repeat;
	color: #111;
	font: bold 17px 'Helvetica', 'Arial', sans-serif;
	height: 36px;
	left: 50%;
	line-height: 34px;
	margin-left: -225px;
	position: fixed;
	text-align: center;
	top: 20px;
	width: 450px;
	z-index: 1000000;
}
#map .caption > button.prev,
#map .caption > button.next {
	background: url(img/history-btns.png) no-repeat;
	cursor: pointer;
	height: 15px;
	position: absolute;
	top: 5px;
	width: 20px;
}
#map .caption > button.prev {
	background-position: 0 0;
	left: 12px;
}
#map .caption > button.prev:hover {
	background-position: 0 -15px;
}
#map .caption > button.next {
	background-position: -20px 0;
	right: 12px;
}
#map .caption > button.next:hover {
	background-position: -20px -15px;
}
#map .coordinates {
	background: url('img/coordinates.png');
	box-sizing: border-box;
	bottom: 45px;
	color: white;
	font: bold 12px 'Helvetica', 'Arial', sans-serif;
	height: 25px;
	left: 10px;
	padding: 6px 0;
	position: absolute;
	text-align: center;
	width: 50px;
	z-index: 100000;
}
#map .controls {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	bottom: 45px;
	left: 70px;
	padding: 2px 4px 3px;
	position: absolute;
	z-index: 100000;
}
#map .controls:after {
	clear: both;
	content: '';
	display: block;
}
#map .controls > button,
#map .controls > button:before {
	height: 21px;
	width: 22px;
}
#map .controls > button {
	background: none;
	cursor: pointer;
	float: left;
	margin-left: 2px;
	position: relative;
}
#map .controls > button:first-child {
	margin-left: 0;
}
#map .controls > button:before,
#map .controls > button:after {
	content: '';
	position: absolute;
}
#map .controls > button:before {
	background: url('img/button.png');
	left: 0;
	top: 0;
}
#map .controls > button:after {
	background: url('img/controls.png');
	height: 12px;
	width: 12px;
	transform: translate(-50%, -50%);
}
#map .controls > button.search:after {
	background-position: 0 0;
}
#map .controls > button.farm:after {
	background-position: -12px 0;
}
#map .controls > button.edit:after {
	background-position: -36px 0;
}
#map .controls > button.link:after {
	background-position: -24px 0;
}
#map .meta {
	background: rgba(0, 0, 0, 0.5);
	bottom: 12px;
	color: white;
	font: bold 12px 'Helvetica', 'Arial', sans-serif;
	left: 10px;
	padding: 6px 12px 6px 9px;
	position: absolute;
	z-index: 100000;
}
#map .meta .date {
	margin-left: 7px;
}

.boss-label {
	margin-top: 11px;
	margin-left: 9px;
	border: none;
	background: rgba(0,0,0,0.5);
	color: white;
	border-radius: 0;
	padding-left: 1px;
}
.boss-label:before {
	border: none;
	position: absolute;
	top: 0;
	left: -9px;
	width: 9px;
	height: 100%;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 90%);
}

.leaflet-rrose-content-wrapper {
	background: rgba(0,0,0,0.6);
	box-shadow: 0 3px 10px rgba(0,0,0,0.25), inset 0 0 15px rgba(0,0,0,0.2);
}
.leaflet-rrose-tip {
	background: rgba(0,0,0,0.55);
}
.leaflet-rrose-close-button {
	color: #eee;
}
.leaflet-rrose-close-button:hover {
	color: #ccc;
}
.leaflet-rrose-content {
	color: white;
	font: bold 12px/1.4 "Helvetica", "Arial", sans-serif;
}
.leaflet-rrose-content h2 {
	color: #6BFF74;
	font-size: 16px;
	margin-bottom: 3px;
	text-align: center;
}
.leaflet-rrose-content a {
	color: #4FBFFF;
}
.leaflet-rrose-content a:hover {
	color: #83C7EE;
}
.leaflet-rrose-content ul,
.leaflet-rrose-content ol {
	list-style-position: inside;
	margin-bottom: 3px;
}

.leaflet-rrose-content-wrapper {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}
.leaflet-rrose-content-wrapper-se {
    -moz-border-radius:    0 10px 10px 10px;
    -webkit-border-radius: 0 10px 10px 10px;
    border-radius:         0 10px 10px 10px;
}
.leaflet-rrose-content-wrapper-sw {
    -moz-border-radius:    10px 0 10px 10px;
    -webkit-border-radius: 10px 0 10px 10px;
    border-radius:         10px 0 10px 10px;
}
.leaflet-rrose-content-wrapper-nw, .leaflet-rrose-content-wrapper-w {
    -moz-border-radius:    10px 10px 0 10px;
    -webkit-border-radius: 10px 10px 0 10px;
    border-radius:         10px 10px 0 10px;
}
.leaflet-rrose-content-wrapper-ne, .leaflet-rrose-content-wrapper-e {
    -moz-border-radius:    10px 10px 10px 0;
    -webkit-border-radius: 10px 10px 10px 0;
    border-radius:         10px 10px 10px 0;
}

.dialog {
	border: 6px solid rgba(0, 0, 0, 0.32);
	border-radius: 6px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -110px;
	width: 300px;
	height: 220px;
	box-sizing: border-box;
}
.dialog-container {
	background: rgba(24, 14, 0, 0.9);
	box-sizing: border-box;
	color: white;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.3;
	padding: 15px 20px;
	width: 100%;
}
.dialog-caption {
	color: #6BFF74;
	font-size: 16px;
	height: 20px;
	margin-bottom: 8px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dialog-body {
	height: 150px;
}
.dialog-close-button {
	background-color: rgba(124, 0, 0, 1);
	border-radius: 3px;
	color: #ccc;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	height: 16px;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 14px;
}

.ui-scrollbar {
	position: relative;
}
.ui-scrollbar .scrollbar {
	position: absolute;
	right: -7px;
}
.ui-scrollbar .scrollbar.disable {
	display: none;
}
.ui-scrollbar .track {
	background: #eee;
	border-radius: 7px;
	height: 100%;
	position: relative;
	width: 7px;
}
.ui-scrollbar .thumb {
	background: #229fff;
	border: 0;
	border-radius: 7px;
	height: 0;
	left: 0;
	overflow: hidden;
	outline: 0;
	padding: 0;
	position: absolute;
	top: 0;
	transition: top, 0.1s;
	width: 7px;
}
.ui-scrollbar .thumb:active {
	background: #008DF9;
	transition: none;
}
.ui-scrollbar .viewport {
	position: relative;
	overflow: hidden;
}
.ui-scrollbar .overview {
	position: absolute;
	width: 96.5%;
}

.streams-heading {
	color: #FFFE00;
	margin-bottom: 5px;
}
.streams-list {
	list-style: none;
}
.streams-list li {
	background: rgba(255,255,255,0.05);
	border: 1px solid #555;
	cursor: pointer;
	margin-bottom: 4px;
	padding: 2px 6px;
}
.streams-list li:hover {
	background: rgba(255,255,255,0.1);
}
.streams-list li.icon {
	padding-left: 24px;
	position: relative;
}
.streams-list li.icon:before {
	content: '';
	height: 19px;
	left: 2px;
	margin-top: -9px;
	position: absolute;
	top: 50%;
	width: 19px;
}
.streams-list li.icon.station:before {
	background: url(img/icons/stream-station.png) no-repeat;
}
.streams-list li.icon.sky:before {
	background: url(img/icons/stream-sky.png) no-repeat;
}

#navigator {
	background: rgba(255, 255, 255, 0.8);
	bottom: 25px;
	border-style: solid;
	border-width: 5px;
	-moz-border-image: url(img/navigator.png) 5 round repeat;
	-webkit-border-image: url(img/navigator.png) 5 round repeat;
	-o-border-image: url(img/navigator.png) 5 round repeat;
	border-image: url(img/navigator.png) 5 fill round repeat;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
	height: 200px;
	position: absolute;
	right: 30px;
	width: 160px;
}
#navigator button.home {
	background: rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
	border: 1px solid transparent;
	color: white;
	cursor: pointer;
	height: 23px;
	overflow: hidden;
	padding-left: 21px;
	position: absolute;
	right: 4px;
	top: 3px;
	transition: 0.3s;
	z-index: 1000;
	white-space: nowrap;
	width: 0;
}
#navigator button.home:before {
	background: url(img/index-btn.png) no-repeat;
	content: '';
	height: 17px;
	left: 2px;
	position: absolute;
	top: 2px;
	width: 17px;
}
#navigator button.home:hover {
	background: rgba(84, 84, 84, 0.67);
	border-color: #6F6F6F;
	padding: 0 4px 0 23px;
	width: 101px;
}
#navigator .ui-resizable-handle {
	position: absolute;
}
#navigator .ui-resizable-w {
	bottom: -5px;
	cursor: w-resize;
	left: -5px;
	top: 15px;
	width: 20px;
}
#navigator .ui-resizable-n {
	cursor: n-resize;
	height: 20px;
	left: 15px;
	right: -5px;
	top: -5px;
}
#navigator .ui-resizable-nw {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA9hAAAPYQGoP6dpAAAAB3RJTUUH3woSCCg6Cl6lTwAAAFVJREFUGNONzbkNgEAQBME6XFLCOJOgCIJEyGHTwScAHJB4lmesMUrqYluttUUfEVP2ywGNGLBkv/xBETE36L4QvKZ3BOUPgjR9RWk6Q7f0Ezql3xCsxURBmwK15ZoAAAAASUVORK5CYII=') 7px 7px no-repeat;
	cursor: nw-resize;
	height: 20px;
	left: -5px;
	top: -5px;
	width: 20px;
}
#navigator.ui-resizable {
	left: auto !important;
	top: auto !important;
}
.navigator-label {
	display: block;
	width: 24px;
	height: 24px;
	padding: 0;
	line-height: 24px;
	text-align: center;
	border-radius: 50%;
	border-width: 2px;
	background: #EFEFEF;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
	font-size: 11px;
}
.navigator-label.compose {
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-width: 1px;
	border-radius: 40%;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	margin: 2px 0 0 2px;
}
.navigator-label.station {
	background: #FFCD68;
}
.navigator-label.masters {
	background: #68A5FF;
}
.navigator-label.flagers {
	background: #A9FF00;
}
.navigator-label.station.masters {
	background: #9DFFFC;
}
.navigator-label.station.flagers {
	background: #FEFF00;
}
.navigator-label.masters.flagers {
	background: #FF8989;
}
.navigator-label.station.flagers.masters {
	background: #FF5FF3;
}
.navigator-label:before {
	display: none;
}
.navigator-label.active {
    box-shadow: 0 0 12px #CC4900;
}

#hint {
	background: rgba(0, 0, 0, 0.6);
	color: white;
	font: bold 11px/1 "Helvetica", "Arial", sans-serif;
	padding: 4px 6px;
	position: absolute;
	z-index: 10000000;
}

@media (max-width: 600px) {
	#map {
		border: none;
	}

	#map > .shadow,
	.corners,
	#navigator {
		display: none;
		visibility: hidden;
	}
}